*_ReSharper*
*.pdb
*.sdf
*.opensdf
*.suo
*.log
*.tlog
*.ilk
*.idb
*.vs
*DS_Store*
*DotSettings.user
.idea*
.gitignore~
..gitignore.un~
*VC.db
*VC.opendb

build/**
!build/Release/
build/Release/*
!build/**/ovm.exe
